@bg-color: #000;
@text-color: #fff;

//Colors:
@blue-jeans: #5d9cec;
@aqua: #4fc1e9;
@mint: #48cfad;
@grass: #a0d468;
@sunflower: #ffce54;
@bittersweet: #fc6e51;
@grapefruit: #ed5565;
@lavender: #ac92ec;
@pink-rose: #ec87c0;
@light-grey: #f5f7fa;
@medium-grey: #ccd1d9;
@dark-grey: #656d78;


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.upper {
	text-transform: uppercase;
}

.bold {
	font-size: bold;
}

.panel body > p {
	margin-top: 50px;	
}

.header {
	width: 100%;
	height: 206.5px;
	margin: 0px 0px 180px 0px;
	background-color: #000;
	text-align: center;
	padding-top: 50px;
}

.profile {
	text-align: center;
	border-radius: 50%;
}

.profile-bg {
	background-color: #000;
}

.profile-bg > h1, h2, h3, h4, h5, h6, h7 {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.profile-bg > p {
	color: darken(@text-color, 15%);
	text-align: center;
}

.blue-jeans {
	background-color: @blue-jeans;
}

.aqua {
	background-color: @aqua;
}

.mint {
	background-color: @mint;
}

.grass {
	background-color: @grass;
}

.sunflower {
	background-color: @sunflower;
}

.bittersweet {
	background-color: @bittersweet;
}

.grapefruit {
	background-color: @grapefruit;
}

.lavender {
	background-color: @lavender;
}

.pink-rose {
	background-color: @pink-rose;
}

.light-grey {
	background-color: @light-grey;
}

.medium-grey {
	background-color: @medium-grey;
}

.dark-grey {
	background-color: @dark-grey;
}

.positions {
	font-size: 20px;
}